.nav_hover:hover {
    color: #fff;
    /* Change text color on hover */
    background-color: #07a888;
    /* Change background color on hover */
    border-radius: 26px;
    border-color: #fff;
    /* Change border color on hover */
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.nav-item.active .nav-link {
    color: #fff;
    /* Change text color for active nav item */
    background-color: #07a888;
    /* Change background color for active nav item */
    border-radius: 26px;
    border-color: #fff;
    /* Change border color for active nav item */
}